.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 100px;
  background-color: rgb(62, 62, 223);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-icon {
  align-items: flex-end;
}
