<!-- sidenav  right side note  -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'over'"
    [(opened)]="sidenavOpen"
    position="end"
  >
    <!-- side  add note -->
    <div class="sidenote-heading">
      <mat-toolbar>
        <div class="sidenote-color">
          <b>
            {{
              "Blade" + idSelected.slice(5, 6) + "/" + "Image -" + imageIndex
            }}</b
          >
        </div>
        <mat-icon (click)="drawer.toggle()" class="maticon">close</mat-icon
        ><br />
      </mat-toolbar>
      <h3 id="addnote-padding">Add/Edit Notes</h3>
    </div>
    <!-- adding notes-->
    <mat-nav-list>
      <button mat-raised-button (click)="openModal(input)">ADD NOTES</button>
    </mat-nav-list>
    <div class="note-spacing-left" *ngFor="let notes of noteSet; let j = index">
      <hr />
      <div>
        <b> {{ JSON.stringify(notes.date) | date: "medium" }}</b>
      </div>
      <br />
      <div>{{ JSON.stringify(notes.text) }} <br /><br /></div>
      <button
        mat-raised-button
        color="primary"
        (click)="openModal(editbox); editInput(j)"
      >
        edit</button
      >&nbsp;
      <button
        mat-raised-button
        color="primary"
        (click)="openModal(deletebox); deleteInput(j)"
      >
        delete
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="white">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="align"
        ><button
          mat-icon-button
          class="example-icon user-icon"
          aria-label="Example icon-button with heart icon"
        >
          <i class="material-icons custom">account_circle</i>
        </button></span
      >
    </mat-toolbar>
    <br />
    <!-- page  -->
    <div class="bounds" id="page-content">
      <div>
        <!-- blade A -->
        <div class="content" fxLayout="row" fxLayout.xs="row" fxFlexFill>
          <div fxFlex="30" fxFlex.xs="40%">
            <div class="blade" *ngFor="let i of loadArray">
              {{ i.wtg_id }}
              <br />
              <br />
              <br />
              <div class="blade">
                {{ i.blades[0].label }}
              </div>
                <app-cat-options [category]="i.blades[0].blade_cat" [isBlade]='true'></app-cat-options>
                

              <br />
              <br />
              <div id="blade-size">
                SN:- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp;{{ i.inspection_date.slice(0, 4) }}
              </div>

              <div id="blade-size">Blade Model:{{ i.blade_model }}</div>
            </div>

            <br />
            <mat-card class="blade-data">
              <div *ngFor="let i of loadArray">
                WTG: {{ i.wtg_id }}<br />
                FARM: {{ i.farm }}<br />
                CLASS: {{ i.wtg_class }} <br />
                WTG Model:{{ i.wtg_model }}
              </div>
            </mat-card>
            <br />
            <div fxLayout="row" fxLayoutAlign="center stretch">
              <div
                class="blade-note"
                fxLayout="row"
                fxLayoutAlign="center stretch"
              >
                <img
                  src="assets\images\notes.png"
                  (click)="bladeClick(inspectionBladeA.notes)"
                />

                <div fxLayout="row" fxLayoutAlign="center stretch">
                  {{ inspectionBladeA.notes?.length }}
                </div>
              </div>
            </div>
          </div>
          <!-- filter -->
          <div fxFlex="70" fxFlex.xs="60%">
            <div class="filter">
              <!-- wtgID Filter -->
              <mat-form-field appearance="fill">
                <mat-label>{{ wtgIdFilterList }}</mat-label>
                <mat-select
                  [(value)]="wtgIdFilterList"
                  (selectionChange)="onToggleFilter($event)"
                >
                  <mat-option *ngFor="let wtgid of wtgIdList" [value]="wtgid">
                    {{ wtgid }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <!-- inspection data filter -->
              <mat-form-field appearance="fill">
                <mat-label>{{ inspectionDateFilterList }}</mat-label>
                <mat-select
                  [(value)]="inspectionDateFilterList"
                  (selectionChange)="onToggleFilter($event)"
                >
                  <mat-option *ngFor="let date of dateList" [value]="date">
                    {{ date }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-icon>filter_list</mat-icon>
              <button
                mat-raised-button
                class="compare"
                (click)="dialogboxCompare(templateCompare)"
              >
                Compare
              </button>
              <br />
            </div>
            <br />
            <div>
              <div
                class="blade-image"
                *ngFor="let i of inspectionBladeA.images; let j = index"
              >
                <img
                  mat-card-image
                  src="assets\images\{{ i.URI }}"
                  class="image-size"
                />
                <div
                  fxFlex="50%"
                  fxLayout="column"
                  fxLayoutAlign="space-around center"
                >
                <app-cat-options [category]="i.image_cat" [bladeLabel]="inspectionBladeA.blade_id" (catEvent)="bladeImageSet($event)"></app-cat-options>
                  

                  
                  <div
                    class="image-note"
                    fxLayout="row"
                    fxLayoutAlign="center stretch"
                  >
                    <img
                      src="assets\images\notes.png"
                      (click)="
                        imageClick(
                          inspectionBladeA.inspection_date,
                          inspectionBladeA.blade_id,
                          j,
                          i.notes
                        )
                      "
                    />
                    <div class="imageNoteLength">{{ i.notes.length }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr />
      </div>
      <div>
        <!-- blade B -->
        <div class="content" fxLayout="row" fxLayout.xs="row" fxFlexFill>
          <div fxFlex="30" fxFlex.xs="40%">
            <div class="blade" *ngFor="let i of loadArray; let j = index">
              <br />
              <br />
              <br />
              <div class="blade">
                {{ i.blades[1].label }}
              </div>
              <br />
              <br />
              <div id="blade-size">
                SN:- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp;{{ i.inspection_date.slice(0, 4) }}
              </div>

              <div id="blade-size">Blade Model:{{ i.blade_model }}</div>
            </div>
            <br />
            <mat-card class="blade-data">
              <div *ngFor="let i of loadArray">
                WTG: {{ i.wtg_id }}<br />
                FARM: {{ i.farm }}<br />
                CLASS: {{ i.wtg_class }} <br />
                WTG Model:{{ i.wtg_model }}
              </div>
            </mat-card>
            <br />
            <img src="assets\images\notes.png" (click)="drawer.toggle()" /> Add
            Note
          </div>
          <div fxFlex="70" fxFlex.xs="60%">
            <div class="filter">
              <br />
              <div
                class="blade-image"
                *ngFor="let i of inspectionBladeB.images; let j = index"
              >
                <img
                  mat-card-image
                  src="assets\images\{{ i.URI }}"
                  class="image-size"
                />
                <div
                  fxFlex="50%"
                  fxLayout="column"
                  fxLayoutAlign="space-around center"
                >
                <app-cat-options [category]="i.image_cat" [bladeLabel]="inspectionBladeB.blade_id" (catEvent)="bladeImageSet($event)"></app-cat-options>
                 
                  <div
                    class="image-note"
                    fxLayout="row"
                    fxLayoutAlign="center stretch"
                  >
                    <img
                      src="assets\images\notes.png"
                      class="note-spacing"
                      (click)="
                        imageClick(
                          inspectionBladeB.inspection_date,
                          inspectionBladeB.blade_id,
                          j,
                          i.notes
                        )
                      "
                    />
                    <div class="imageNoteLength">{{ i.notes.length }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <br />
        <br />
      </div>

      <div>
        <!-- blade C -->
        <div class="content" fxLayout="row" fxLayout.xs="row" fxFlexFill>
          <div fxFlex="30" fxFlex.xs="40%">
            <div class="blade" *ngFor="let i of loadArray; let j = index">
              <br />
              <br />
              <br />
              <div class="blade">
                {{ i.blades[2].label }}
              </div>
              <br />
              <br />
              <div id="blade-size">
                SN:- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp;{{ i.inspection_date.slice(0, 4) }}
              </div>

              <div id="blade-size">Blade Model:{{ i.blade_model }}</div>
            </div>
            <br />
            <mat-card class="blade-data">
              <div *ngFor="let i of loadArray">
                WTG: {{ i.wtg_id }}<br />
                FARM: {{ i.farm }}<br />
                CLASS: {{ i.wtg_class }} <br />
                WTG Model:{{ i.wtg_model }}
              </div>
            </mat-card>
            <br />

            <img src="assets\images\notes.png" (click)="drawer.toggle()" /> Add
            Note
          </div>
          <div fxFlex="70" fxFlex.xs="60%">
            <div class="filter">
              <div
                class="blade-image"
                *ngFor="let i of inspectionBladeC.images; let j = index"
              >
                <img
                  mat-card-image
                  src="assets\images\{{ i.URI }}"
                  class="image-size"
                />
                <div
                  fxFlex="50%"
                  fxLayout="column"
                  fxLayoutAlign="space-around center"
                >
                <app-cat-options [category]="i.image_cat" [bladeLabel]="inspectionBladeC.blade_id" (catEvent)="bladeImageSet($event)"></app-cat-options>
                  
                  <div
                    class="image-note"
                    fxLayout="row"
                    fxLayoutAlign="center stretch"
                  >
                    <img
                      src="assets\images\notes.png"
                      class="note-spacing"
                      (click)="
                        imageClick(
                          inspectionBladeC.inspection_date,
                          inspectionBladeC.blade_id,
                          j,
                          i.notes
                        )
                      "
                    />
                    <div class="imageNoteLength">{{ i.notes.length }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <-- dialog-box starts here-->
        <ng-template #input>
          <form [formGroup]="noteForm">
            <mat-icon mat-dialog-close class="maticon">close</mat-icon><br />
            <input
              type="text"
              class="input-box"
              formControlName="notes"
              id="input"
              value="inputValue"
            />

            <!-- to clear input -->
            <button mat-raised-button color="primary" (click)="clearInput()">
              clear
            </button>
            <button
              mat-raised-button
              color="accent"
              style="margin-left: 292px"
              (click)="saveNote()"
              [disabled]="noteForm.invalid"
            >
              save
            </button>
          </form>
        </ng-template>
        <!-- to edit note -->
        <ng-template #editbox>
          <form [formGroup]="noteForm">
            <mat-icon mat-dialog-close class="maticon">close</mat-icon><br />
            <input
              type="text"
              class="input-box"
              formControlName="notes"
              id="input"
              value="inputValue"
            />
            <button mat-raised-button color="primary" (click)="clearInput()">
              clear
            </button>
            <button
              mat-raised-button
              color="accent"
              style="margin-left: 292px"
              (click)="editNote()"
              [disabled]="noteForm.invalid"
            >
              save
            </button>
          </form>
        </ng-template>
        <!-- deletebox starts here -->
        <ng-template #deletebox>
          <form [formGroup]="noteForm">
            <mat-icon mat-dialog-close class="maticon">close</mat-icon><br />
            <br /><br />
            <h2>Are you sure you want to delete this?</h2>

            <hr />
            <button mat-raised-button color="primary" (click)="deleteConfirm()">
              delete
            </button>

            <button
              mat-raised-button
              color="accent"
              style="margin-left: 292px"
              mat-dialog-close
            >
              cancel
            </button>
          </form>
        </ng-template>
        <!-- Comparebox -->
        <ng-template #templateCompare>
          <div></div>
          <!-- <form [formGroup]="noteForm">
            <mat-icon mat-dialog-close class="maticon">close</mat-icon><br />
            <input
              type="text"
              class="input-box"
              formControlName="notes"
              id="input"
              value="inputValue"
            />

            <hr />

            <button mat-raised-button color="primary" (click)="clearInput()">
              clear
            </button>
            <button
              mat-raised-button
              color="accent"
              style="margin-left: 292px"
              (click)="dialogboxCompare"
              [disabled]="noteForm.invalid"
            >
              save
            </button>
          </form> -->
        </ng-template>
        <hr />
      </div></div></mat-sidenav-content
></mat-sidenav-container>
